<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asistente Bíblico</title>
    <link rel="stylesheet" href="/static/estilos.css">
    <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">
    <meta name="description" content="Chatbot de asesor virtual biblico, versiculos biblicos, apoyo emocional Dios">
</head>
<body>
    <div class="chat-container">
        <div class="encabezado">
            <p>Asistente Bíblico</h1>
        </div>
        <div id="chat-box">

        </div>
        <div id="name-form-container">
            <form id="name-form">
                <label for="name-input">Ingresa tu nombre por favor:</label>
                <input type="text" id="name-input" required />
                <button type="submit">Iniciar</button>
            </form>
        </div>
        <div class="button-container">

        </div>
        <footer>
            <p>Powered by <a href="https://davanitechnology.com/">Davani Technology</a></p>
        </footer>
    </div>
    <script src="/static/script.js"></script>
</body>

</html>